@import url("https://fonts.cdnfonts.com/css/cascadia-code");
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  padding: 0;
  margin: 0;
}

button {
  border: unset;
  font-family: unset;
  background-color: unset;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body > main {
  flex-grow: 1;
}

button.btn-play--red {
  background-color: #7a1515;
  color: white;
}
button.btn-play--green {
  background-color: #157a1d;
  color: white;
}

body.color-window {
  width: 100%;
  height: 100vh;
  font-size: 2rem;
}
body.color-window main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
body.color-window[data-color=amarillo] {
  background-color: #e6f122;
}
body.color-window[data-color=amarillo] .color-name {
  color: #292b03;
}
body.color-window[data-color=verde] {
  background-color: #87f7b4;
}
body.color-window[data-color=verde] .color-name {
  color: #0a8f3f;
}
body.color-window[data-color=cian] {
  background-color: #57f4d5;
}
body.color-window[data-color=cian] .color-name {
  color: #065f4e;
}
body.color-window[data-color=morado] {
  background-color: #9c95de;
}
body.color-window[data-color=morado] .color-name {
  color: #29226c;
}

body.exercici02 main {
  font-family: "Cascadia Code", sans-serif;
}
body.exercici02 main.exercise-screen {
  background-color: #fcfaf6;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  position: relative;
}
body.exercici02 main.exercise-screen h1 {
  font-size: 4rem;
}
body.exercici02 main.exercise-screen h2 {
  font-size: 3rem;
}
body.exercici02 main.exercise-screen > .last-game-stats {
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem;
  position: absolute;
}
body.exercici02 main.exercise-screen > .screen:not(.hidden) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body.exercici02 main.exercise-screen > .screen:not(.hidden) p {
  font-size: 2rem;
}
body.exercici02 main.exercise-screen > .screen:not(.hidden).game .clicked-windows {
  display: flex;
  gap: 3rem;
}
body.exercici02 main.exercise-screen > .screen:not(.hidden).game .clicked-windows [data-color=amarillo] {
  background-color: #e6f122;
  color: #292b03;
}
body.exercici02 main.exercise-screen > .screen:not(.hidden).game .clicked-windows [data-color=verde] {
  background-color: #87f7b4;
  color: #0a8f3f;
}
body.exercici02 main.exercise-screen > .screen:not(.hidden).game .clicked-windows [data-color=cian] {
  background-color: #57f4d5;
  color: #065f4e;
}
body.exercici02 main.exercise-screen > .screen:not(.hidden).game .clicked-windows [data-color=morado] {
  background-color: #9c95de;
  color: #29226c;
}
body.exercici02 main.exercise-screen > .screen:not(.hidden).game .clicked-windows > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 3rem;
  width: 15rem;
  height: 4.5rem;
}
body.exercici02 main.exercise-screen > .screen:not(.hidden).game .game__message {
  height: 4rem;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
