button {
  &.btn-play {
    &--red {
      background-color: darken($color: $btn-red, $amount: 10%);
      color: $text-white;
    }
    &--green {
      background-color: darken($color: $btn-green, $amount: 10%);
      color: $text-white;
    }
  }
}
